.bg-image {
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-image:url('./images/ps-bg.jpg');
}

#r1{
    background-color: red;
}
.container{
    background-color: rgb(163, 158, 158);}